/* ============= JUMBOTRON ============= */

.jumbotron{
  background: linear-gradient(to bottom right, 
  rgba(244, 245, 250, .7), 
  rgba(187, 195, 199, 0.7));
  /* background-size: cover; */
  min-height: 500px;
  position: relative;
  z-index: -1;
}

.jumbotron::after {
  content: "";
  display: none;
  position: absolute;
  bottom: -40px;
  justify-self: center;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.1);
  width: 100px;
  height: 40px;
  -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
  clip-path: polygon(0 0, 50% 100%, 100% 0);
}

.jumbotron .col-sm-4.offset-1 {
  /* background-color: black; */
  padding: 100px 10px;
}

.jumbotron h1 {
  line-height: 60px;
  color: rgba(0, 0, 0, .7);
}

.row {
  margin: 0;
}

/* ============= CONTRIBUTOR ============= */

.contributor {
  padding: 50px;
  margin: 80px 0;
  /* border: 1px solid rgba(155, 155, 155, 0.7); */
}

.contributor h1 {
  text-transform: uppercase;
}

.contributor .col-sm-12, .contributor .col-sm-4 {
  padding: 0;
}

.box-contributor {
  margin-top: 50px;
}

.box-contributor img {
  padding: 10px;
  height: 300px;
}

.contributor p {
  text-align: justify;
  letter-spacing: 1px;
  font-size: 25px;
}

/* ============= QUOTE ============= */

.box-quotes {
  margin-top: 30px;
}

.quote {
  border: 1px solid rgba(155, 155, 155, 0.7);
  border-radius: 10px;
  padding: 20px 30px;
}

.quote-logo,
.content-qoute {
  width: 100%;
}

.quote-logo {
  display: flex;
  justify-content: center;
}

.quote img {
  width: 70px;
  height: 70px;
}

.content-qoute {
  height: 250px;
  text-align: center;
}

.content-qoute p:first-child {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.content-qoute p:nth-child(2) {
  font-family: 'Montserrat', sans-serif;
  margin-top: 35px;
  font-size: 14px;
  text-transform: uppercase;
}

.content-qoute p:last-child {
  font-family: 'Kaushan Script', cursive;
}