*,
*::before,
*::after,
h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a:hover {
  text-decoration: none;
}

/* 
Color Palette
#0b132b #112d4e #1c2541 #48466d #3a506b #3f72af #3d84a8 #dbe2ef #f9f7f7 #46cdcf #abedd8 #5bc0be #6fffe9

blue palette #0C4DCA #0A48C2 #007AE3 #3467B0 #538FF0

*/

/* =========== HEADER =========== */

.head {
  background: linear-gradient(to bottom, rgb(24, 65, 121), rgb(47, 102, 192));
}

.head.transparent {
  background: transparent !important;
  position: absolute;
  width: 100%;
  min-height: 80px;
}

.transparent h1 {
  color: rgba(0, 0, 0, .7) !important;
}

.head .container {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head img {
  height: 50px;
  width: 50px;
}

.head h1{
  /* margin: auto; */
  font-size: 30px;
  letter-spacing: 2px;
  color: white;
}
.desc-head {
  margin-top: 30px;
}
.desc-head h3 {
  color: black;
}

.desc-head .col-sm-6 {
  display: flex;
  align-items: center;
  min-height: 40px;
}

.head .btn.btn-primary {
  padding: 5px 40px;
  border-radius: 50px;
}

/* ============ NAV =========== */

header nav {
  padding: 10px 30px;
}

header h3 {
  color: white;
  font-size: 20px;
}

.menu-menu-1-container,
.menu-menu-2-container {
  margin-top: 20px;
}

nav ul {
  display: flex;
  list-style: none;
}

header nav li, footer nav li {
  margin: 0 10px;
  padding: 3px 9px;
  background-color: #35577B;
  border-radius: 5px;
}
nav li:first-child {
  margin-left: 0;
}

header nav a, footer nav a {
  color: white;
}

/* ========== SEARCH FORM =========== */

.desc-head .col-sm-6.search-form {
  justify-content: flex-end;
}

.box-search {
  position: relative;
  height: 100%;
  background-color: black;
}

.search-form input:focus{
  width: 250px;
  height: 40px;
  border-radius: 40px;
  padding: 0 20px;
  line-height: 2em;
  font-weight: 100;
  font-size: 12px;
  cursor: auto;
  color: black;
}

.search-form input{
  float: right;
  border: 3px solid rgba(185, 185, 185, .7);
  outline: none;
  width: 40px;
  cursor: pointer;

  -webkit-transition:.2s all ease-in;
  -moz-transition:.2s all ease-in;
  transition:.2s all ease-in;
  height:40px;
  color:#fff;
  border-radius:40px;
  background:none;
  font-size:0;
}

.search-form .close span{
  width: 3px;
  height: 20px;
  border-radius: 2px;
  background: rgb(153, 153, 153);
  display: inline-block;
}

.search-form .front {
  position: absolute;
  right: 24px;
  top: 12px;
  transform: rotate(-45deg);
  opacity: 0;
  animation-delay: 2s;
  -webkit-transition:.2s all ease-in;
  -moz-transition:.2s all ease-in;
  transition:.2s all ease-in;
}

.search-form .back{
  position: absolute;
  right: -3px;
  top: 30px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition:.2s all ease-in;
}

.search-form input:focus + .close .front{
  opacity: 1;
  -webkit-transition-delay: .2s; 
  -moz-transition-delay: .2s; 
  transition-delay: .2s;
  -webkit-transform: rotate(45deg);        
  -moz-transform: rotate(45deg);        
  transform: rotate(45deg);        
  background: rgba(185, 185, 185, .7);
}

.search-form input:focus + .close .back{
  background: rgba(185, 185, 185, .7);
  right: 24px;
  top: 12px;
}